{% extends 'base.html' %}{% load static %}{% block content %}
<head>
  {% block title %}
  <title>Please Login 😃</title>
  {% endblock %}
</head>
<link rel="stylesheet" href="{% static 'home/login.css' %}" />

<div class="content">
  <div class="box">
    <h3 class="loginh">
      Login to be Featured
    </h3>
    <br />
    <div class="icon3">
      <a href="{% url 'social:begin' 'facebook' %}">
        <img src="{% static 'home/fb3.jpg'%}" alt="Login with Facebook" />
      </a>
      <br /><br />
      <a href="{% url 'social:begin' 'google-oauth2' %}">
        <img src="{% static 'home/google.jpg'%}" alt="Login with Google" />
      </a>
    </div>
  </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/particles.js@2.0.0/particles.min.js"></script>
<script>
  particlesJS.load(
    "particles-js",
    "{% static 'home/home.json' %}",
    function () {
      console.log("Hello Qriosity Player !!!");
    }
  );
</script>

{% endblock %}
