{% extends 'base.html' %}{% load static %}{% block content %}

<link rel="stylesheet" href="{% static 'quiz/quiz.css'%}" />

<style>
  .content1 {
    color: white;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
  }

  .container {
    color: white;
    background: black;
  }
  table,
  td,
  th {
    border: 1px solid white;
    color: white;
  }

  table,
  h3 {
    margin: 1em;
    font-size: 0.7em;
  }

  th,
  td {
    padding: 1em;
  }
</style>

<h3>The top {{n }} qualified participants are</h3>
<div class="content1">
  <br />
  <div class="table">
    <table>
      <tr>
        <th>Rank</th>
        <th>Name</th>
        <th>Score</th>
      </tr>

      {% for player in leaders %}
      <tr>
        <td>{{player.rank}}</td>
        <td>{{player.name }}</td>
        <td>{{player.score}}</td>
      </tr>
      {% endfor %}
    </table>
  </div>
</div>
{% endblock %}
