{% extends 'base.html'%} {% load static %} {% block content %}
<head>
  {% block title %}
  <title>Rules</title>
  {% endblock %}
</head>
<link rel="stylesheet" href="{% static 'home/rule.css' %}" />

<div class="content">
  <div class="box">
    <div class="panel">
      <h2>
        <ul>
          <li>
            Rules & Regulations:
          </li>
        </ul>
      </h2>
      <ul class="listr">
        <li>
          Round 1 consists of a total of 10 questions carrying 10 points each .
        </li>
        <li>
          Solving 1st round shall help to generate a passcode to enter Round 2
          following set of Algorithms.
        </li>
        <li>
          Round 2 carries 5 questions carrying 15 points each .
        </li>
        <li>
          Questions of Round 1 and Round 2 are supplied by hints ,unlocking
          which shall further lead to a deduction of 5 points per hint unlocked
          .
        </li>
        <li>
          Answers to the questions have to be given in a format that shall not
          contain any spaces and special characters to separate words and shall
          all be in lower case . For example to answer for m-rna you must write
          mrna.
        </li>
        <li>
          If the question asks for three values ,the answer must be specified in
          proper sequence of the variables without space.
        </li>
        <li>
          The one who completes both the round and is able to crack the code
          shall be the final winner .
        </li>
        <li>
          In case of a tie ,time taken for final submission shall be the
          deciding factor .
        </li>
      </ul>
    </div>

    <br />
    {% if user.is_authenticated %}
    <a href="{% url 'quiz:stageone'  %}">
      <button
        class="btn btn-primary mb1 bg-blue"
        type="submit"
        value="Play"
        class="dare"
      >
        Start
      </button></a
    >
    {% else %}
    <a href="{% url 'home:login' %}">
      <button
        class="btn btn-primary mb1 bg-blue"
        type="submit"
        value="Play"
        class="dare"
      >
        Start
      </button>
      {% endif %}
    </a>
  </div>
</div>

<script>
  console.log("Please Read these rules carefully.");
  console.log("We wish all the best");
</script>
{% endblock %}
