@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  font-family: "Montserrat", sans-serif;
}

html {
  --myQriosity: white;
  --myNumber: #d99236;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
}

header {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: flex-start;
  align-items: center;
  color: white;
  padding: 10px;
  flex-wrap: wrap;
  min-height: 10vh;
  background-color: rgba(0, 0, 0, 0.7);
  box-shadow: 0px 0 6px 6px var(--myNumber);
  pointer-events: all;
}

header h1 {
  color: white;
  flex: 1.5;
  flex-shrink: 0;
  display: flex;
  margin-left: 5px;
  padding: 10px;
  padding-top: 3px;
}

nav {
  flex: 1;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100vw;
  align-items: center;
  margin-bottom: 5px;
}

nav ul,
a:any-link {
  text-decoration: none;
  list-style: none;
  color: white;
  text-align: justify;
}

header a:hover {
  color: rgb(161, 173, 201);
  text-emphasis: bold;
  text-shadow: 0 0 3px #a26d28;
}

header nav ul {
  display: flex;
  flex-direction: row;
  /* flex-wrap: wrap; */
  justify-content: space-around;
  align-items: center;
  align-content: space-around;
  width: 100%;
}

header a:hover {
  color: #d08c34;
  text-emphasis: bold;
  text-decoration: underline;
  text-shadow: none;
  box-shadow: none;
}

h1 {
  overflow: visible;
  padding-left: 5px;
  padding-right: 5px;
}

h1 a {
  padding: 5px;
}

h1 a:hover {
  text-decoration: none;
  color: #d99236;
}

footer {
  height: 10vh;
  width: 100vw;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.9);
  position: flex-end;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
  background-color: rgba(0, 0, 0, 0.7);
  box-shadow: 0px 3px 3px 3px var(--myNumber);
  pointer-events: all;
  overflow: unset;
  padding: 15px;
}

footer img {
  display: flex;
  height: 6vh;
}

.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1em;
  color: white;
}

.ctitle {
  margin-bottom: 0.3em;
}

.clinks {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.clinks img {
  height: 4vh;
  margin-left: 1em;
}

@font-face {
  font-family: "Electro Shackle";
  src: url("Electro Shackle.otf");
}

.qriosity {
  font-family: "Electro Shackle";
}

.btn {
  background: rgba(0, 0, 0, 0.7);
  padding: 0.2rem 1rem;
  margin-top: 0.6rem;
  border-radius: 2em;
  font-size: 1.02rem;
  display: flex;
  text-transform: capitalize;
  text-transform: uppercase;
  color: white;
  border-color: #b77c31;
  font-size: 0.8em!important;
}

.btn:hover {
  background-color: rgba(255, 255, 255, 0.1);
  cursor: pointer;
}

input{
    padding: 0.5rem;
    border-radius: 1em;
    background: #232323;
}

@media screen and (max-width: 480px) {
  header nav {
    font-size: 10px;
  }
  header nav ul {
    margin-right: 5%;
  }
  .btn {
    background: rgba(0, 0, 0, 0.7);
    padding: 0.2rem 1rem;
    margin-top: 0.6rem;
    border-radius: 2em;
    font-size: 0.7rem;
    display: flex;
    text-transform: capitalize;
    text-transform: uppercase;
    color: white;
    border-color: #b77c31;
  }
}
