.container {
  background: url("form.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}
.box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

form {
  margin-top: 2em;
  margin-bottom: 2em;
  flex-direction: column;
}

form p {
  display: flex;
  flex-direction: column;
  padding: 1em;
}

label {
  padding: 0.2em;
}

input {
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  text-align: center;
}

form {
  background-color: rgba(20, 20, 20, 0.7);
  padding: 0.5em;
  color: white;
  border-radius: 1em;
  max-width: 80vw;
  box-shadow: 0px 2px 6px 2px #a26d28;
  margin: 1em;
}

.box {
  background-color: rgba(255, 255, 255, 0.1);

  border-radius: 30px;
  font-size: 1.3em;

  box-shadow: 0 1px 5px 1px #a26d28;
  margin: 1em 0;
}

.box p {
  text-align: center;
}

.title {
  font-size: 1.5em;
  text-align: center;
  color: #a26d28;
}

.qriosity {
  font-family: "Electro Shackle";
}

.btn {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.8em;
  margin: 0 auto;
}





@media only screen and (min-width: 500px){
  .usercontactblock{
    width: 55%;
    margin: 0 auto;
  }
  .usercontactblock form{
     width: 100%;
  }
  .usercontactblock form p{
    flex-direction: row;
    justify-content: space-between;
  }
}
