@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  overflow: hidden;
  font-family: "Montserrat", sans-serif;
}

#particles-js {
  height: 100vh;
  width: 100vw;
  background: url("dashboard.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.container {
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  width: 100vw !important;
  color: white;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1em;
  width: 100vw;
  display: flex;
}

.details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  max-width: 70vw;
  font-size: 1.3em;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 15px;
  border-radius: 15px;
  box-shadow: 0px 2px 2px 2px #a26d28;
}

.copyrt {
  display: flex;
  flex-direction: row;
}

.user {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 1.5em;
  border-radius: 1em;
  box-shadow: 0px 0 2px 2px #d99236;
  margin: 1em;
}

.imageusr {
  box-shadow: 0px 0 2px 2px #d99236;
  margin: 10px;
  border-radius: 50px;
}

p {
  overflow-y: hidden;
}

.content a {
  overflow: visible;
}

form {
  overflow: unset;
}

.det_container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.det_container div{
  display: flex;
  flex-direction: column;
  margin: 1rem;
  text-align: center;
}
.det_container div p{
  text-decoration: none;
}

.det_container div p:first-child{
  font-size: 1.4em;
}
