{% extends 'base.html'%} {% load static %} {% block content %}
<head>
  <link rel="stylesheet" href="{% static 'quiz/quiz.css' %}" />
  {% block title %}
  <title>PASSCODE</title>
  {% endblock %}
</head>

<div class="content">
  <p class="stage1">
    Congratulations on solving all the questions of stage 1. <br/>
    Enter Passcode for Bonus points.
    
  </p>

  {% if check %}
  <p class="wrong">
    please try again,
    <br />
    your answer was incorrect
  </p>
  {% endif %}

  <form action="{% url 'quiz:algo'%}" method="POST">
    {% csrf_token %}
    <button type="submit" class="btn">
      Algorithms
    </button>
  </form>
  <div class="stage1">
    <form action="{% url 'quiz:passcode' %}" method="POST">
      {% csrf_token %}
      <h1>
        Enter The passcode below
      </h1>
      {{form.as_p}}
      <button class="btn btn-primary mb1 bg-blue" type="submit">
        Submit
      </button>
    </form>
  </div>
</div>

{% endblock %}
