{% extends 'base.html'%} {% load static %} {% block content %}

<head>
  <link rel="stylesheet" href="{% static 'quiz/quiz.css' %}" />
  {% block title %}
  <title>{{ question.title }}</title>
  {% endblock %}
</head>
<div class="content">
  <div class="stage1">
     <h3 style="font-size: 0.7em;">
            Question No. {{question.level}}
     </h3>
     {% if value %}
        <div class="wrong">
            Wrong Answer
            <br /> Try Again <br />
        </div>
     {% endif %}
     <h3>
            <u style="text-decoration: none; color: #d99236; font-size: 1.2em;">
                {{ question.title }}
            </u>
     </h3>

     <br />
    <!-- description -->
    {% if question.description %}
    <div>{{ question.description }}</div>
    {% endif %}
    <br />
  </div>

  <form action="" method="POST" class="stage1">
    {% csrf_token %} {{form.as_p}}
    <button type="submit" class="btn">
      Submit
    </button>
  </form>
</div>
{% endblock %}
