{% extends 'base.html'%} {% load static %} {% block content %}

<head>
  <link rel="stylesheet" href="{% static 'quiz/quiz.css' %}" />
  {% block title %}
  <title>{{ question.title }}</title>
  {% endblock %}
</head>
<div class="content">
  <div class="stage1">
    <h3>
      Question No. {{question.level}}
    </h3>
    {% if value %}
    <div class="wrong">
      Wrong Answer &#10060;
      <br />
      Try Again <br />
    </div>
    {% endif %}
    <h3>
      <u>
        {{ question.title }}
      </u>
    </h3>

    <br />
    <!-- description -->
    {% if question.description %}
    <div>{{ question.description }}</div>
    {% endif %}
    <br />
  </div>

  <form action="" method="POST" class="stage1">
    {% csrf_token %} {{form.as_p}}
    <button type="submit" class="btn">
      Submit
    </button>
  </form>
</div>
{% endblock %}
