{% extends 'base.html'%} {% load static %} {% block content %}

<head>
    <link rel="stylesheet" href="{% static 'quiz/quiz.css' %}" />
</head>
<div class="content">
    <div class="stage1 blocks">
        <p>
            Question Level : {{ question.level }}
        </p>

        {% if value %}
        <div class="wrong">
            Wrong Answer!
            <br/> Try Again <br/> 
            {% if hint %} 
            {% else %}
                <div class="warning">
                    Stuck ? Take a Hint. <br /> (You will loose points)
                </div>
            {% endif %}
        </div>
        {% endif %}

        <h3 class="qtitle">{{ question.title }}</h3>

        <!-- description -->
        {% if question.description %}
        <div class="description">{{ question.description }}</div>
        {% endif %}

        <!-- image -->
        {% if question.image %}
        <div>
            <img src="{{ question.image_url }}" alt="{{question.title}}" />
        </div>
        {% endif %}
    </div>

    <div class="anhint blocks">
        {% if hint %}
        <div>
            <h3 class="qtitle">
                You Have Lost 5 points.
            </h3>
        </div>
        <div class="hint">
            <p align="center">
                Hint :
            </p>
            <p align="center" class="ohint">
                {{ question.hint}}
            </p>
        </div>

        {% else %}
        <form action="{% url 'quiz:hint'%}" method="post">
            {% csrf_token %}
            <p>
                Stuck ? Take a Hint. ( You will loose points )
            </p>
            <button type="submit" class="btn">
                Click For Hint
            </button>
        </form>

        {% endif %}

        <form action="{% url 'quiz:answer'%}" method="post">
            {% csrf_token %} {{ form.as_p}}
            <button type="submit" class="btn">
                Submit
            </button>
        </form>
    </div>
</div>
{% endblock %}
