.container {
  background: url("form.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.content {
  color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 1em;
  margin-bottom: 1em;
}

.stage1,
.anhint {
  background-color: rgba(0, 0, 0, 0.85);
  padding: 0.3em;
  margin: 0.5em;
  max-width: 80vw;
  border-radius: 1em;
  margin-top: 1em;
  box-shadow: 0px 2px 8px 2px #a26d28;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.stage1,
.anhint div {
  padding: 0.5em;
  min-width: 30%;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 1em;
}

form p {
  padding: 0.5em;
}

input {
  background-color: rgba(0, 0, 0, 0.7);
  padding: 5px;
  text-align: center;
  color: aliceblue;
}

.content div {
  margin-top: 0.5em;
}

.wrong {
  background: rgba(255, 255, 255, 0.5);
  color: black;
  font-weight: bold;
  padding: 1em;
  border-radius: 1em;
}

pre {
  text-align: left;
  background-color: rgba(255, 255, 255, 0.1);
  padding-left: 1em;
  padding-right: 1em;
  color: skyblue;
  border-radius: 1em;
  margin: 1em;
  padding: 1em;
}

.qtitle {
  color: #a26d28;
}

.hint {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1em;
}

@media only screen and (min-width: 700px) {
  .content {
    flex-direction: row;
    align-items: center;
  }

  .content .blocks {
    max-width: 48%;
    padding: 1rem;
  }
}
