<header>
  <h1>
    <a href="{% url 'home:home' %}" class="qriosity">Qriosity 2.0</a>
  </h1>
  <br />
  <nav>
    <ul>
      <li>
        <a href="{% url 'home:rules'%}">Rules</a>
      </li>
      <li>
        <a href="{% url 'user:leaderboard' %}"> LeaderBoard </a>
      </li>
      <li>
        <a href="{% url 'quiz:algo' %}"> Algorithm</a>
      </li>
      <li>
        <a href="{% url 'user:dashboard' %}"> Dashboard </a>
      </li>
      <li>
        <a href="{% url 'quiz:stageone' %}"> Resume </a>
      </li>
      <li>
        <a href="{% url 'logout' %}">Logout</a>
      </li>
    </ul>
  </nav>
</header>
