<header>
    <h1>
        <a href="{% url 'home:home' %}">Qriosity 2.0</a>
    </h1>
    <br />

    <nav>
        <ul>
            {% if user.is_authenticated %}
            <li>
                <a class="rulebtn">Rules</a>
            </li>
            <li>
                <a href="{% url 'user:leaderboard' %}"> LeaderBoard </a>
            </li>
            <li>
                <a href="{% url 'user:formdata' %}"> Profile</a>
            </li>
            <li>
                <a href="{% url 'user:dashboard' %}"> Dashboard </a>
            </li>
            <li>
                <a href="{% url 'logout' %}">Logout</a>
            </li>
            {% else %}
            <li>
                <a class="rulebtn">Rules</a>
            </li>
            <li>
                <a href="{% url 'user:leaderboard' %}"> LeaderBoard </a>
            </li>
            <li>
                <a href="{% url 'quiz:algo' %}"> Algorithms</a>
            </li>
            <li>
                <a href="{% url 'home:login' %}">Login</a>
            </li>

            {% endif %}
        </ul>
    </nav>
</header>