{%extends 'base.html' %} {% load static %} {% block content %}
<link rel="stylesheet" href="{% static 'user/forms.css' %}" />
<head>
  {% block title %}
  <title>Fill contact details</title>
  {% endblock %}
</head>
<div class="content usercontactblock">
  <form action="{% url 'user:formdata' %}" method="POST">
    <h2 align="center">
      Fill your details
    </h2>

    {% csrf_token %} {{ form.as_p }}

    <button type="submit" class="btn">
      Submit
    </button>
    <br />
  </form>
</div>

{% endblock %}
