{% extends 'base.html' %} {% load static %} {% block content %}
<head>
  <link rel="stylesheet" href="{% static 'user/story2.css' %}" />
  {% block title %}
  <title>Story</title>
  {% endblock %}
</head>

<div class="content">
  <p>
    In an alternate universe, the Second World War is happening. In our world,
    millions of lives were saved after Alan Turing cracked the cipher and the
    plans of Germans were foiled, which played a major part in the defeat of the
    Axis powers.
  </p>
  <p>
    A war is going on between the Allies and the Axis. For the rest of the
    world, they had to choose sides and enter the war. Thousands of people were
    dying every day. Axis powers were dominating the Allies, and most of their
    secrets travelled via radio signals which could be tracked by even a
    standard receiver, but what made the messages unreadable for non-Axis powers
    was the encryption. 159 quintillion combinations were possible in the
    cipher, and the combinations changed at the stroke of midnight every day.
    Allies could not afford to lose more of their citizens or soldiers. Like in
    our universe, there was a young man, a mathematician, at Cambridge
    University, who was interested to crack the cipher, not only because he
    wanted to help the Allies win the war, but because he loved solving puzzles.
    After getting his appointment letter, he joins the team and starts working
    on the machine that could decipher the codes sent by the Germans to know
    their plans. But Alan is not able to crack the encryption system. Now the
    onus falls upon us to help Alan Turing decipher the cipher and defeat the
    Axis powers. Are you up to the task at hand?
  </p>
  <p>
    Will you be able to help Alan Turing and lead the Allies to victory in this
    alternate universe?
  </p>
  <form action="{% url 'quiz:stageone' %}" method="POST">
    {% csrf_token %}
    <button type="submit" class="btn">
      Start
    </button>
  </form>
</div>

<script src="https://cdn.jsdelivr.net/npm/particles.js@2.0.0/particles.min.js"></script>
<script>
  particlesJS.load(
    "particles-js",
    "{% static 'user/particles.json' %}",
    function () {
      console.log("Hello Qriosity Player !!!");
    }
  );
</script>
<script
  src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"
  integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg=="
  crossorigin="anonymous"
></script>
<script>
  // const height = $("br").next().position().top - $("br").position().top;
  calculated_height = $(".container").height();
  $("#particles-js").css("height", calculated_height);
  $(".particles-js-canvas-el").css("min-height", calculated_height);

  // console.log(height);
</script>
{% endblock %}
