html,
body {
    background: url("redbg.png");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.outer-wrapper {
    display: inline-block;
    margin: 20px;
}

img {
    max-width: 100%;
    max-height: 100%;
    display: block;
    margin: 0 auto;
}

.qriosity {
    font-family: "Electro Shackle";
}

h1 {
    overflow: visible;
    padding-left: 5px;
    padding-right: 5px;
}

h1 a {
    padding: 5px;
}

h1 a:hover {
    text-decoration: none;
    color: #d99236;
}


/* footer {
    padding-bottom: 28px;

} */