#particles-js {
  background: url("homebg.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 100vh;
  width: 100vw;
}

.container {
  position: absolute;
  top: 0;
  left: 0;
}

.box {
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  width: 70vw;
  padding: 2em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 2px 16px 2px #a26d28;
  border-radius: 2em;
  margin: 1em;
  text-align: center;
  font-size: 1.3em;
  font-weight: bold;
}

.txt {
  text-align: center;
  font-size: 3em;
  padding: 0.5em;
  font-family: "Electro Shackle";
  text-shadow: 1px 2px 7px #381120;
  color: white;
}

@media screen and (max-width: 480px) {
  .box {
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    width: 80vw;
    padding: 1.5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 2px 10px 2px #a26d28;
    border-radius: 2em;
    margin: 0.7em;
    text-align: center;
    font-size: 0.9em;
  }
  .txt {
    text-align: center;
    font-size: 2em;
    padding: 0.3em;
    font-family: "Electro Shackle";
    text-shadow: 1px 2px 7px #381120;
    color: aliceblue;
  }
  #particles-js {
    background: url("homebgphone.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 100vh;
    width: 100vw;
  }
}
