#particles-js {
  background: url("login.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 100vh;
  width: 100vw;
}

.container {
  position: absolute;
  top: 0;
  left: 0;
}
.login-medium {
  font-size: 1.2em;
  padding: 0.5rem;
  background: rgba(0, 0, 0, 0.5);
  display: block;
  border-radius: 1em;
  margin-bottom: 0.7rem;
  border: 1px solid #d99236;
}
.login-medium:hover {
  border-color: #b97216;
}
.login-medium i {
  margin-bottom: -2px;
}

.content,
.box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.box {
  box-shadow: 2px 2px 7px 5px #d99236;
  padding: 2em;
  margin: 2em;
  color: #fff;
  border-radius: 1em;
  background: rgba(10, 10, 10, 0.7);
}

.loginh {
  font-size: 1.9em;
  margin-bottom: 1.5rem;
}

@media screen and (max-width: 480px) {
  .loginh {
    font-size: 1em;
  }
}
